<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials_p/head') %>
</head>
<body>
    <%- include('partials_p/nav_p') %>

    <h1>inicio empresa</h1>
    <% if (login) { %>
    <h1>Bienvenido <strong><%= username %></strong> </h1>
    <a href="logout" class="a-logout">Cerrar Sesion</a>
    <% } else { %>
        <h1><strong><%= email %></strong></h1>
        <a href="login_empresa" class="a-login">Ir al login</a>
        <% } %>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <% if(typeof alert != "undefined") { %>
        <script>
          Swal.fire({
            title: '<%= altertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
          }).then(()=>{
            window.location='/ <%= ruta %>'
          })
        </script>
        <% } %>
</body>
</html>